<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/lib/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

              
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>添加数据集信息</legend>
</fieldset>
 
<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">数据集标识：</label>
    <div class="layui-input-block">
      <input type="text" name="did" lay-verify="title" autocomplete="off" lay-reqtext="数据集标识是必填项，岂能为空？" placeholder="请输入数据集标识" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">数据集类型：</label>
    <div class="layui-input-block">
      <input type="text" name="dtype" lay-verify="required"  placeholder="算力的CPU信息" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">数据集描述：</label>
    <div class="layui-input-block">
      <input type="text" name="ddescription" lay-verify="required"  placeholder="算力的主存信息" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">数据集价格：</label>
    <div class="layui-input-block">
      <input type="text" name="coin" lay-verify="required"  placeholder="算力的主存信息" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit="" lay-filter="adddate">添加数据</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

<script src="/lib/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
layui.use(['form', 'layedit', 'laydate','jquery'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate
  ,$ = layui.jquery;
  
  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 3){
        return '算力标识至少得3个字符啊';
      }
    }
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码必须6到12位，且不能出现空格'
    ]
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  //监听指定开关
  form.on('switch(switchTest)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
    layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });
  
  //监听提交
  form.on('submit(adddate)', function(data){
    $.ajax({
      url:"/users/dateset/addDateset",
      method:"post",                               
      data:data.field,
    }).then(function(res){
      console.log(res);
      layer.alter("添加数据集成功",{icon: 6},function(){
          setTimeout(function(){
          location.href="/users/computation/computationList"
        },1000);
      });
      // layer.alert(JSON.stringify(data.field), {
      // title: '最终的提交信息'
    })
    return false;
  });
 

  
});
</script>

</body>
</html>